@page "/"
@inject NavigationManager NavigationManager
<PageTitle>Home page</PageTitle>

<section class="mx-auto max-w-6xl bg-white mb-20">
    <article class="my-6 sm:my-20 px-6 py-12 sm:py-20 sm:px-12 shadow-lg rounded-lg text-left">
        <Button @onclick=@(_ => NavigationManager.NavigateTo("/friendlist")) >View your friends</Button>
    </article>
</section>